.control-arrow {
  background-color: black !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 100%;
}
.color,
.size {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.colorContainer,
.sizeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    ". . . ."
    ". . . .";
  justify-content: center;
}
.colorIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.6;
}

.colorIcon.active{
  opacity: 1;
  box-shadow: 0.2px 0.2px 5px #252525 ;
}

.sizeIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizeIcon.active {
  background-color: #252525;
  color: #fafafa;
}
.sizeIcon h6 {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-between;
}

.outStock {
  border: 2px solid #575757;
  color: #575757;
  user-select: none;
  cursor: default;
}

.addCart {
  float: left;
  background-color: #252525;
  color: #fafafa;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

.addCart:hover {
  box-shadow: 0.5px 0.5px 5px black;
}

.addCart:focus {
  border: 2px solid #fafafa;
}
